/*预设*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dt,
dd,
ul,
ol,
li,
button,
input,
textarea {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: none;
}

.inner {
	width: 80%;
	margin: 0 auto;
}

section.main {
	padding: 20px 0 50px;
}

section.main h1 {
	text-align: center;
	font-size: 30px;
	line-height: 1.5;
}

section.main h1 a {
	color: #1B6D85;
}

section.main p {
	line-height: 20px;
	color: #245269;
	text-align: center;
	font-size: 16px;
	padding: 5px;
	opacity: .7;
}

section.main form .form-group {
	width: 100%;
	margin: 20px 0;
}

section.main form .input-group {
	width: 70%;
	margin: 0 auto;
	display: table;
}

section .pages {
	padding: 30px;
	display: flex;
	border-bottom: 1px solid #ccc;
	justify-content: space-around;
}

section .pages>div {
	width: 30%;
	border: 1px solid #ccc;
	overflow: hidden;
}

section .pages>div img {
	width: 100%;
}

h2 {
	text-align: center;
	height: 50px;
	line-height: 50px;
	color: #ccc;
	background: #31708F;
}