@charset "utf-8";
/* CSS Document */
body{width: 100%; overflow: hidden;}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,input,form,dl,dd{margin:0; padding:0;}
ul{list-style:none;}
a{text-decoration:none;}
img,input{border:none;}
.clear{clear:both;}

html,body{height:100%; font-family:arial;}
.inner{width:1200px; margin:0 auto;}

header{position:relative; background:url(../images/oshin-slide-1.jpg) no-repeat; height:100%; background-size:100% 100%;}
header .logo{float:left; margin:25px 0 0 2%; transition:all 2s;}
header .logo:hover{opacity:0;}
header nav{text-align:center; line-height:99px; width:900px;}
header .menu{float:left; margin-right:10px; display:none;}
nav li{display:inline-block;}
nav li a{color:#333;  padding:0 5px; margin:0 5px; font-size:16px; text-transform:uppercase; font-family:Conv_Peignot; letter-spacing:1px; transition:all 1s;}
nav li a:hover{color:#edf5f7; text-shadow:-5px -15px 0 #90C;}
nav{position:absolute; left:50%; transform:translate(-50%,0);}
header .icon{float:right; margin:25px 2% 0 0;}
header .icon a{color:#333;}
header .btn a{height:102px; width:350px; border:7px solid #000; line-height:102px; text-align:center; position:absolute; top:48%; bottom:0; left:0; right:0;  margin:0 auto; color:#000; font-size:50px; font-family:Arial; transition:all 1.5s; animation:actionOne 5s infinite;}
header .btn a:hover{width:420px; border:3px solid #999; color:#CCC; text-shadow:0 0 10px #09F; font-size:40px;}
header .btn a:hover:before{transform:translate(50px,0); color:#666; }
header .btn a:hover:after{transform:color:#666;}
header .btn a:before{content:"MAKING THE WEB";position:absolute; top:-105px; left:52px; font-size:30px; transition:all 1s; font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;}
header .btn a:after{content:"The Best or Nothing";position:absolute; top:105px; left:52px; font-size:25px; transition:all 1s; font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; font-style:italic;}

.oshine{text-align:center;}
.oshine h2{line-height:74px; margin-top:75px;}
.oshine span{line-height:65px;}
.oshine .icon{height:8px; width:8px; border:1px solid #f6e3c7; background:#e0a240; transform:rotate(45deg); margin-top:25px; display:inline-block; animation:actionThree 20s ease infinite;}
.oshine .icon:before{content:"";transform:rotate(-45deg); width:20px; height:1px; background:#e8e8e8; position:absolute; top:20px; right:10px;}
.oshine .icon:after{content:"";transform:rotate(-45deg); width:20px; height:1px; background:#e8e8e8; position:absolute; top:-13px; left:11px;}
.oshine p{line-height:33px; padding:40px;}
.oshine .pic{font-size:0; margin-top:100px;}

.two li{float:left; width:25%; height:246px; text-align:center; font-size:20px;}
.two li {line-height:34px;}
.two li i{line-height:83px; padding-top:50px; font-size:60px;}
.two li a{color:#000; transition:all 1s; display:block; transition:all 2s;}
.two li:nth-child(1) a{animation:actionTwo 2s ease infinite;}
.two li:nth-child(2) a{animation:actionTwo 2s ease infinite 0.5s;}
.two li:nth-child(3) a{animation:actionTwo 2s ease infinite 1s;}
.two li:nth-child(4) a{animation:actionTwo 2s ease infinite 1.5s;}
.two li:hover a{color:#0CC; transform:scale(1.1)}
.two li:nth-child(2n){background:#edf0f2;}
.two li:nth-child(2n+1){background:#f2f5f8;}

.three{font-family:Conv_zeroes;}
.three .left{float:left; padding-top:121px; width:32%;}
.three .right{float:right; padding-top:121px; width:32%;}
.three .pic{width:20%; float:left; text-align:center; line-height:50px;}
.three .content{width:79%; float:right;}
.three ul li{margin-bottom:37px;}
.three ul h3{line-height:55px;}
.three ul p{line-height:26px;}
.three .phone{float:left; font-size:0; margin:90px 0 93px 4%; width:27%;}
.three .phone img{width:100%;}

.fore{height:400px; background:url(../images/classic-slide-1.jpg) no-repeat;background-size:cover; background-attachment:fixed; clear:both;}

.six{background:none; height:auto;}
.six ul{text-align:center; padding:37px;}
.six ul li{display:inline-block; line-height:30px;}
.six ul li a{ padding:0 22px; color:#222; transition:all 2s;}
.six ul li a:hover{color:#fff; text-shadow:0 0 5px #000; box-shadow: 0 0 0 2px #C90; transform:scale(1.2)}

.six dd{float:left; font-size:0; margin-bottom:40px; width:31%;}
.six dd{margin:0 2% 40px 0; position:relative;}
.six dd:hover a{width:100%; height:100%; background:rgba(0,0,0,0.5); display:block; position:absolute; left:0; top:0;}
.six dd img{width:100%;} 
.six .btn{width:158px; height:44px; border:2px solid #000; margin:0 auto; display:block; clear:both; line-height:44px; color:#393939; margin-bottom:90px; transition:all 2s;}
.six .btn:hover{ transform:scale(0.9); background:rgba(153,153,153,0.5);}

.seven{background:#f2f3f8; text-align:center; font-family:Conv_Peignot;}
.seven i{font-size:60px; color:#dfdfdf; padding-top:73px; line-height:131px; animation:actionTwo 5s infinite;}
.seven p{line-height:37px; color:#5f6263; padding-bottom:96px;}
.seven p span{color:#e8b64e; }

.nine .left,.nine .right{margin:90px 0; height:464px; width:48%; float:left; margin-left:1%; background:url(../images/Marks_2048x1536_144dpi_12_1000.jpg) no-repeat; background-size:100% 100%; position:relative;}
.nine .right{float:right; margin-right:1%; background:url(../images/Marks_2048x1536_144dpi_11_1000.jpg) no-repeat; background-size:100% 100%;}
.nine .left:hover a{width:100%; height:100%; position:absolute; top:0; left:0; background:rgba(153,0,153,0.1);}
.nine .right:hover a{width:100%; height:100%; position:absolute; top:0; left:0; background:rgba(153,0,153,0.1);}

.footerOne{background:url(../images/bg_02.png); text-align:center; color:#fff; clear:both;}
.footerOne h3{line-height:54px; padding-top:85px;}
.footerOne p{line-heihgt:46px;}
.footerOne .btn a{width:110px; height:44px; background:#f0b452; display:inline-block; text-align:center; line-height:44px; margin:21px 0 90px; color:#fff;}

.footerTwo{padding-left:20px; background:#f2f3f8;}
.footerTwo .list{width:25%; float:left;}
.footerTwo .listOne .pic{margin-top:70px;}
.footerTwo .listOne p{line-height:24px; margin-top:32px; font-size:12px;}
.footerTwo li{float:left; margin:28px 13px 107px 0;}
.footerTwo li a{height:29px; width:29px; border:1px solid #e2aa4a; border-radius:50%; display:block; line-height:29px; text-align:center; color:#e2aa4a;}
.footerTwo .listTwo h4{line-height:65px; margin-top:48px;}
.footerTwo .listTwo p{padding-left:60px; line-height:25px; background:url(../images/oshin-ipad-mock-75x50.jpg) no-repeat 0 9px; background-size:50px;}
.footerTwo .listTwo p span{line-height:25px;}
.footerTwo .listTwo .special{margin-top:26px; background:url(../images/responsive-road-300x214.jpg) no-repeat 0 9px; background-size:50px;}
.footerTwo .listThree dt{line-height:59px; padding-top:51px;}
.footerTwo .listThree dd{color:#919192;}
.footerTwo .listThree dd a{line-height:35px; color:#919192; padding-left:10px;}

.footerTwo .listFore{width:22%;}
.footerTwo .listFore dl{margin-right:2%;}
.footerTwo .listFore dt{line-height:59px; color:#919192; padding-top:51px;}
.footerTwo .listFore dd{height:70px; width:70px; margin:0 1% 15px 0; float:left;}
.footerTwo .listFore dd img{height:100%; width:100%;}

.footerThree{line-height:70px; text-align:center;}


@media screen and (max-width:1240px){
header{height:100%;}
header .menu{display:block;}	
header nav{display:none;}
.oshine .pic{width:auto; height:auto;}
.oshine .pic img{width:100%; height:100%; margin-left:3%;}
.two li{font-size:12px; height:auto;}
.two li i{padding:0; font-size:40px;}

.inner{width:auto;}
.three .left{margin-left:2%;}
.three .right{margin-left:2%;}

.six dl{margin-left:2%;}
}

@media screen and (max-width:760px){
	header{height: 50%;}
.three .left,.three .right,.three .phone{float:none;width:70%; margin: 0 auto;}
.six dd{width:48%;}

.footerTwo .list{width:100%;}
.listOne,.listTwo,.listThree{padding-left:25%;}
.nine .left,.nine .right{height:232px;}
}





